{
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/actions/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/db/schema$",
    "^@/schema/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/providers/(.*)$",
    "^@/app/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "tailwindConfig": "./tailwind.config.ts",
  "jsxSingleQuote": true,
  "tailwindFunctions": ["cva", "clsx"],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
